.error{
  color: red;
  font-size: smaller;
}
.message{
  background-color: blue;
  color: white;
  width: 350px;
  height: 30px;
  border: 1px solid blue;
  text-align: center;
  margin-left: 583px;
}
input{
  width: 350px;
  height: 30px;
  margin-top: 20px;
}
button{
  margin-top: 20px;
  width: 350px;
  height: 40px;
  background-color: rgb(27, 150, 27);
  color: white;
  border: 1px solid rgb(27, 150, 27);
  cursor: pointer;
  margin-left: 583px;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}